*xcshareddata
*xcuserdata
*.xcuserdatad
*.xcuserstate
*.xcscheme
*.xcworkspacedata
*.xcuserdatad
*.DS_Store
*xcschemes
*.xcscheme
*/xcuserdata/*
V2exSwift.xcodeproj/xcuserdata/pengbi.xcuserdatad/xcschemes/V2exSwift.xcscheme
